$transition: all 400ms ease;

$container-width-lg: 75%;
$container-width-md: 86%;
$container-width-sm: 90%;

$xxxl-spacing: 6rem;
$xxl-spacing: 5rem;
$xl-spacing: 4rem;
$lg-spacing: 3rem;
$md-spacing: 2rem;
$sm-spacing: 1rem;
$xs-spacing: 0.5rem;