@import "/src/theme/assets/mixins";

#home {
  padding-top: $xxl-spacing;
  margin-bottom: $xxl-spacing;

  .header__container {
    text-align: center;
  }

  picture {
    display: block;
    width: 100%;
    max-width: 500px;
    object-fit: cover;
  }

  .no-image-loaded {
    height: 500px;
  }

  .titles_with_logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: $md-spacing;
  }

  .titles_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
  }

  .my_logo img {
    height: 7rem;
    width: auto;
  }

  /* ----------- CTA ----------- */

  .cta {
    display: flex;
    gap: 1.2rem;
    justify-content: space-between;
  }

  .cta a {
    flex-grow: 1;
  }

  /* ----------- HEADER SOCIALS ----------- */

  .header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
  }

  .header__socials::after {
    content: "";
    width: 1px;
    height: 2rem;
    background: $color-primary;
    animation: bounceInUp; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s; /* don't forget to set a duration! */
  }

  /* ----------- ME ----------- */

  .me__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr;
    grid-column-gap: 0;
    grid-row-gap: 3.5rem;
    margin-top: 3.5rem;
  }

  .header__socials__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    grid-area: 1 / 1 / 2 / 2;
  }

  .me {
    max-width: 22rem;
    min-height: 100%;
    margin: 0 auto;
    grid-area: 1 / 2 / 2 / 3;
  }

  .scroll__down__container {
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .scroll__down {
    writing-mode: vertical-lr;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-name: rotate90;
    font-weight: 300;
    font-size: 0.9rem;
  }

  .cta__container {
    margin: 0 auto;
    max-width: 22rem;
    width: 100%;
    grid-area: 2 / 2 / 3 / 3;
  }

  .me_image {
    background: linear-gradient($color-primary, transparent);
    border-radius: 12rem 12rem 0 0;
    padding: $xxl-spacing 1.5rem 0 1.5rem;
  }

  /* -------------- FOR OLDER BROWSERS -------------- */

  @supports not (gap: 1px) {
    .titles_with_logo > * + * {
      margin-left: $md-spacing;
    }

    .cta > * + * {
      margin-left: 1.2rem;
    }

    .header__socials > * + * {
      margin-top: 0.8rem;
    }
  }

  /* -------------- MEDIA QUERIES (SMALL DEVICES) -------------- */

  @media screen and (max-width: 600px) {
    header {
      padding-top: $xl-spacing;
    }

    .me__container {
      display: flex;
      flex-direction: column;
      grid-row-gap: 0;
    }

    .me_image {
      margin-bottom: 3.5rem;
    }

    .header__socials__container,
    .scroll__down {
      display: none;
    }
  }

  /* -------------- MEDIA QUERIES (VERY SMALL DEVICES) -------------- */

  @media screen and (max-width: 391px) {
    padding-top: $md-spacing;

    .titles_with_logo {
      flex-direction: column;
    }

    .titles_section {
      text-align: center;
    }

    .cta {
      flex-wrap: wrap;
    }

    .me, .cta__container {
      max-width: 95%;
    }

    .my_logo img {
      height: $xxl-spacing;
      margin: 0 auto;
    }

    /* -------------- FOR OLDER BROWSERS -------------- */

    @supports not (gap: 1px) {
      .titles_with_logo > * + * {
        margin-left: 0;
        margin-top: $md-spacing;
      }
    }
  }
}