header {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

.my_logo {
  width: 50px;
  height: auto;
  margin: 0 auto 2.5rem;
}

/* ----------- CTA ----------- */

.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* ----------- HEADER SOCIALS ----------- */

.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
}

.header__socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
  animation: bounceInUp; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s; /* don't forget to set a duration! */
}

/* ----------- ME ----------- */

.me {
  background: linear-gradient(var(--color-primary), transparent);
  width: 22rem;
  height: 25rem; /* réduire la hauteur */
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 2rem; /* réduire la marge supérieure */
  border-radius: 12rem 12rem 0 0;
  overflow: hidden;
  padding: 5rem 1.5rem 1.5rem 1.5rem;
}


/* ----------- SCROLL DOWN ----------- */

.scroll__down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  animation-name: rotate90;
  font-weight: 300;
  font-size: 0.9rem;
}

@keyframes rotate90 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

/* -------------- MEDIA QUERIES (SMALL DEVICES) -------------- */

@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }

  .header__socials,
  .scroll__down {
    display: none;
  }
}

@media screen and (max-width: 307px) {
  header {
    padding-top: 2rem;
  }
}