@import "/src/theme/assets/mixins";

.experience__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $md-spacing;
}

.experience__container .experience__frontend__backend {
  background: $color-bg-variant;
  padding: 2.4rem $xxl-spacing;
  border-radius: $md-spacing;
  border: 1px solid transparent;
  transition: $transition;
}

.experience__container .experience__frontend__backend:hover {
  cursor: default;
  background: transparent;
  border-color: $color-primary-variant;
}

.experience__container .experience__frontend__backend h3 {
  text-align: center;
  margin-bottom: $md-spacing;
  color: $color-primary;
}

.experience__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: $md-spacing;
}

.experience__details {
  display: flex;
  gap: $sm-spacing;
}

.experience__details-icon {
  margin-top: 6px;
  color: $color-primary;
}

/* -------------- MEDIA QUERIES (MEDIUM DEVICES) -------------- */

@media screen and (max-width: 1024px) {
  .experience__container {
    grid-template-columns: 1fr;
  }

  .experience__container .experience__frontend__backend {
    width: 80%;
    padding: $md-spacing;
    margin: 0 auto;
  }

  .experience__content {
    padding: $sm-spacing;
  }
}

/* -------------- MEDIA QUERIES (SMALL DEVICES) -------------- */

@media screen and (max-width: 600px) {
  .experience__container {
    gap: $sm-spacing;
  }

  .experience__container .experience__frontend__backend {
    width: 100%;
    padding: $md-spacing $sm-spacing;
  }
}

/* -------------- MEDIA QUERIES (VERY SMALL DEVICES) -------------- */

@media screen and (max-width: 392px) {
  .experience__container .experience__frontend__backend h3 {
    margin-bottom: $sm-spacing;
  }

  .experience__content {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    row-gap: $sm-spacing;
  }
}