@import "/src/theme/assets/mixins";

#nav {
  display: flex;
  background: rgba(0, 0, 0, 0.3);
  width: max-content;
  padding: 0.7rem 1.7rem;
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: $md-spacing;
  gap: 0.8rem;
  border-radius: 3rem;
  backdrop-filter: blur(15px);

  a {
    display: flex;
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    color: $color-light;
    font-size: 1.1rem;

    &:hover {
      background: rgba(0, 0, 0, 0.3);
    }
  }

  a.active {
    background: $color-primary;
    color: $color-bg;
  }

  /* -------------- FOR OLDER BROWSERS -------------- */

  @supports not (gap: 1px) {
    & > * + * {
      margin-left: 0.8rem;
    }
  }
}