@import "/src/theme/assets/mixins";

#background {
  h3 {
    font-size: 1.2rem;
  }

  h4 {
    font-size: 0.8rem;
    font-weight: lighter;
  }

  .vertical-timeline {
    padding-top: 0 !important;
  }

  .vertical-timeline-element-content {
    transition: $transition;
  }

  .vertical-timeline-element-content-arrow {
    transition: $transition;
  }

  /* --------------- FOR WORK TIMELINE ITEM --------------- */

  .vertical-timeline-element--work {
    .vertical-timeline-element-content:hover {
      background: transparent !important;
      border-color: $color-primary-variant !important;
      cursor: default !important;

      .vertical-timeline-element-content-arrow {
        border-right: 12px solid $color-primary-variant !important;
      }
    }
  }

  /* --------------- FOR DIPLOMA TIMELINE ITEM --------------- */

  .vertical-timeline-element--diploma {
    .vertical-timeline-element-content:hover {
      background: transparent !important;
      border-color: $color-success-variant !important;
      cursor: default !important;

      .vertical-timeline-element-content-arrow {
        border-right: 12px solid $color-success-variant !important;
      }
    }
  }

  /* --------------- FOR SCHOOL TIMELINE ITEM --------------- */

  .vertical-timeline-element--school {
    .vertical-timeline-element-content:hover {
      background: transparent !important;
      border-color: $color-danger-variant !important;
      cursor: default !important;

      .vertical-timeline-element-content-arrow {
        border-right: 12px solid $color-danger-variant !important;
      }
    }
  }

  .vertical-timeline--two-columns {
    .vertical-timeline-element {
      &:nth-child(odd):not(.vertical-timeline-element--right) {
        .vertical-timeline-element-content-arrow {
          margin-left: 1.5px;
        }
      }

      &:nth-child(even):not(.vertical-timeline-element--left) {
        .vertical-timeline-element-content-arrow {
          margin-right: 1.5px;
        }
      }
    }
  }

  .vertical-timeline-element--no-children .vertical-timeline-element-content-arrow {
    display: unset !important;
  }

  p.vertical-timeline-element-text {
    font-size: 0.9rem !important;
    font-weight: unset !important;
    white-space: pre-wrap;
  }

  .vertical-timeline-element--star .vertical-timeline-element-content.bounce-in {
    display: none !important;
  }

  @media only screen and (max-width: 1169px) {
    .vertical-timeline--two-columns .vertical-timeline-element .vertical-timeline-element-content-arrow {
      margin-left: 0;
      margin-right: 1.5px;
    }
  }
}